a{
	color: #FFCC00;
}

fieldset{
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}
.am-form-group{
	margin-top: 20px;
	margin-bottom: 0px;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}
.am-form-group select{
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 46px;
}
.am-container{
	max-width: 700px;
}
.am-btn-group{
	margin-top: 20px;
}
.am-btn-group label{
	padding-bottom: 0px;
	padding-top: 0px;
	line-height: 48px;
}

.main{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	text-align: center;
	background-color: #00CCFF;
}
.title{
	padding-top: 20px;
	padding-bottom: 20px;

	text-align: center;
	font-size: 30px;
	color: #fff;

	background-color: rgba(0,0,0,.15)
}
.main img{
	margin-top: 20px;
}
.location{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	color: #fff;
	line-height: 50px;
	width: 300px;
	height: 50px;
	background-color: rgba(0,0,0,.15)
}
.box{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	color: #fff;
	line-height: 50px;
	width: 200px;
	height: 50px;
	background-color: rgba(0,0,0,.15)
}
.nextmove{
	margin-top: 20px;
}


/****************************************底栏****************************************/
.footer p {
	color: #7f8c8d;
	margin: 0;
	padding: 15px 0;
	text-align: center;
	background: #2d3e50;
}